﻿@import "fonts.less";

.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    width: 100px;
    height: 90px;
    margin-right: 20px;

}
.dropzone .dz-preview {
    margin: 0px;
    min-height: 106px;
}
.dz-details {
    padding-bottom: 18px !important;
}

.dropzone {
    border-style: none;
    padding: 0px;
}

.add-item-section-header { 
     height: 30px;
     background-color: lightgray;
     font-family: @fontAvantGarde;
     font-size: 15px;
     color: black;
     line-height: 30px;
     vertical-align: middle;
     border-top-left-radius: inherit;
     border-top-right-radius: inherit;
 }

.add-item-field-label {
     font-family: @fontAvantGarde;
     font-size: 15px;
     color: black;
     margin-top: 10px;
 }

textarea.form-control {
     height: 80px;
}

.add-item-description-textarea {
    resize: none;
}

.add-item-section {
    margin-top: 50px;
    background-color: white;
    border: 1px gray;
    padding: 0px;
    border-radius: 5px;
    
    .section1 {
        height: 330px;
    }

    .section2 {
        height: 125px;
    }

    .section3 {
        height: 160px;
    }
}

.add-item-field-price {
    margin-top: 10px;
}

.add-item-negotiable {
    padding-left : 5px;
}

.add-item-photo-holder {
    height: 90px;
    border: grey 1px solid;
    cursor: pointer;
    background-image: url('Images/upload-photo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    float: left;
}

.add-item-margin-photos {
    margin-top: 20px;
}

.add-item-button-position {
    margin-top: 10px;
}

.add-item-button-text {
     font-family: @fontAvantGarde;
     color: black;
     font-weight: bolder;
     letter-spacing: 1px;
     font-size: 16px;
     background-color: #ec971f;
}

.add-item-price {
    padding: 0px;
}

.photo-validation {
    margin-left: 25px;
}

