﻿@import "fonts.less";

.cart-container{
    margin-top: 50px;
}

.table-style{
    margin-top: 50px;
    font-family: @fontAvantGarde;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.info-style{
    font-family: @fontAvantGarde;
    font-size: 15px;
    color: lightgray;
    text-align: center;
}

.bor{
    border: dashed white 1px;
    height: 30px;
    line-height: 30px;

    .warn{
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
}

.tooltip-inner {
  max-width: 350px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}

.cursor{
    cursor: pointer;
}