﻿@import "fonts.less";

.chat-header {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
}

.chat-container{
    height: 600px;
    border-radius: 10px;
    padding: 0px;
    background-color: white;
}

.type-message-area{
    margin-top: 10px;
    height: 150px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgray;
}

.view-messages-content{
    height: 440px;
    padding: 10px;
    margin-left: 0px;

    .messages-area{
       
        max-height: 430px;
    }
}

.partner-info-section{
    height: 40px;
    font: @fontAvantGarde;
    font-size: 18px;
    font-weight: bold;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.new-message-content{
    height: 100px;
    padding-right: 0px;
}

.chat-textarea{
    margin-top: 5px;
    width: 100%; 
    height: 100%;
    resize: none;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 7px;
    font-family: @fontAvantGarde;

}

.chat-textarea:focus{
    outline: none;
}

.buttons-area{
    margin-top: 8px;
    margin-left: 0px;
}

.send-msg-button{
     font-family: @fontAvantGarde;
     color: black;
     font-weight: bolder;
     letter-spacing: 1px;
     font-size: 16px;
     background-color: #ec971f;
     margin-top: 1px;
}

.back-msg-button{
     font-family: @fontAvantGarde;
     color: black;
     font-weight: bolder;
     letter-spacing: 1px;
     font-size: 16px;
     background-color: #c48833;
     margin-top: 1px;
}

.back-btn-pos{
    padding-right: 0px;
}

.send-btn-pos{
    padding-left: 0px;
}


.my-msg-body{
    background-color: dodgerblue;
    color: white;
    font: @fontAvantGarde;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    float: right;
    margin-right: 5px;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
}

.received-msg-body{
    background-color: lightgray;
    color: black;
    font: @fontAvantGarde;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
}
