﻿@import "fonts.less";

.offer-container{
    height: 1000px;
}

.item-name-section{
    margin-top: 50px;
    height: 30px;
    line-height: 30px;
    font-family: @fontAvantGarde;
    font-size: 30px;
    color: white;
}

.upper-panel{
    margin-top: 20px;
}

.photos-container{
    height: 250px;
    padding-left: 0px;
}

.info-container{
   height: 300px; 
}

.price{
    font-family: @fontAvantGarde;
    font-size: 20px;
    color: white;
}

.price-text{
    margin-top: 50px;
    font-family: @fontAvantGarde;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.button-pos{
    margin-top: 20px;
}

.button-buy-pos{
    margin-top: 10px;
}

.negotiable-button{
     font-family: @fontAvantGarde;
     color: white;
     font-weight: bolder;
     letter-spacing: 1px;
     font-size: 16px;
     background-color: #ec971f;
}

.negotiable-button:hover{
    background-color: #f79407;
}
  
.seller-info{
    height: 120px;
    margin-top: 50px;
}

.seller-text{
    font-family: @fontAvantGarde;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.seller-login{
    font-family: @fontAvantGarde;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.down-panel{
    margin-top:30px;
}


.w3-navbar{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    border-radius: 5px;
}

.w3-colors{
    color: white;
    background-color: #ec971f;
    font-family: @fontAvantGarde;
    font-weight: bold;
    float: left;
}

.w3-navbar li{ float: left;}.w3-navbar li a,.w3-navitem,.w3-navbar li .w3-btn,.w3-navbar li .w3-input{display:block;padding:8px 16px; text-decoration:none; color:white;}.w3-navbar li .w3-btn,.w3-navbar li .w3-input{border:none;outline:none;}
.w3-navbar li a:hover{background-color:#f79407;}

.tab{
    height: 200px;
    margin-top: 20px;
}

.description{
    font-family: @fontAvantGarde;
    font-size: 15px;
    color: white;
}

.seller-info-label{
    margin-top: 5px;
    font-family: @fontAvantGarde;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 18px;  
}

.seller-info-text{
    font-family: @fontAvantGarde;
    font-size: 18px;
    color: white;
    line-height: 30px; 
}

.show-item-photo{
    width: 375px;
    height: 250px;
}

.modal{
  display: none;
  overflow: hidden;
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-sm{
    width: 400px;
}

.modal-font{
  font: @fontAvantGarde;
  font-size: 12px;
}

.demo {
    width: 370px;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.li-lightslider {
    float: right;
    margin-right: 6px;
    cursor:pointer;
    align-content:center;
}


.lightslider-photo {
    align-items: center;
    display: block;
    max-height: 270px;
    max-width: 100%;
    margin: auto;
}
