﻿@import "fonts.less";

.item-offer-section {
    height: 100px;
    margin-bottom: 5px;
    padding-left: 0px;
    cursor: pointer;
    border-style: double;
}

.search-result-header {
    font-family: @fontAvantGarde;
    font-style: italic;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
 }

.main-photo-section {
     height: 80px;
     margin-left: 10px;
     margin-top: 10px;
     padding-left: 0px;
 }

.search-item-name {
      font-family: @fontAvantGarde;
      font-size: 15px;
      font-weight: bold;
      color: white;
      margin-top: 5px;
 }

 .search-item-description {
     font-family: @fontAvantGarde;
     font-size: 12px;
     color: lightgray;
     height: 40px;
 }

 .search-item-price {
     font-family: @fontAvantGarde;
     font-size: 18px;
     font-weight: bold;
     color: lightskyblue;
 }

 .search-input {
    display: block;
    width: 100%;
    height: 100%;
    font-family: @fontAvantGarde;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }

 .search-input:focus {
     outline: none;
 }

 .search-item-photo{
     width: 100px;
     height: 80px;
 }

 .category-field {
  margin-top: 20px;
  height: 40px;
  border: solid black 1px;
  border-left: none;
  padding: 0px;
}

 .category-input {
    display: block;
    width: 100%;
    height: 100%;
    font-family: @fontAvantGarde;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color:  #999;
    background-color: #ffffff;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    cursor: pointer;
 }

 .category-input:focus {
     outline: none;
 }