﻿@import "sizes.less";
@import "fonts.less";

.background-container {
    padding-top: @navbarHeight;
    background-image: url("/Content/Images/neon-orange-color-background.png");
    background-repeat: no-repeat;
    background-color: darkorange;
    min-width: 1200px;
    min-height: 1000px;
    border-bottom: 1px solid black;
    background-size: cover;
    position: relative;
    background-position: center;
}

.dl-horizontal dt {
    white-space: normal;
}

.min-width {
    min-width: 1200px;   
}

.navbar{
    height: @navbarHeight;
}

.navbar-button {
     font-family: @fontArial;
     font-size: 15px;
     color: white;
     text-align: center;
     border-left: 1px solid #222;
     height: @navbarHeight;
}


.navbar-right-border {
    border-right: 1px solid #222;
}

.navbar-button:hover {
    background-color: black;
    cursor: pointer;
}

.navbar-text-pos {
    vertical-align: middle;
    line-height: @navbarHeight;
}

.navbar-inverse {
    background-color: #353230;
}

a {
   color: white;
}

a:hover {
   text-decoration: none;
   color: white;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  font-family: @fontAvantGarde;
  font-weight: bold;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  outline:0 !important;
}

.search-section {
   height: 85px;
   background-color: white;
}

.shop-logo {
    font-family: @fontAvantGarde;
    font-size: 40px;
    font-weight: bolder;
    color: #ff4500;
    margin-top: 10px;
    cursor: pointer;
}

.search-field {
    margin-top: 20px;
    height: 40px;
    border: solid black 1px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px;
    border-right: none;
}

.search-button {
    width: 40px;
    height: 40px;
    background-color: #505050;
    margin-top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.zoom-icon {
    margin-top: 10px;
    color: white;
}

.search-button:hover {
    cursor: pointer;
}

.bin {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.bin-text {
    font-family: @fontAvantGarde;
    font-style: italic;
    font-size: 16px;
    color: gray;
    margin-top: 25px;
}

.header {
    font-family: @fontAvantGarde;
    white-space: nowrap;
    font-style: italic;
    color: white;
    font-size: 30px;
}
 
.header .main-page-header {
    font-size: 36px; 
    margin-top: 100px;
    position: absolute;
    text-align: center;     
}

.header .register-header {      
    margin-top: 50px;
}

.header .add-item-header {
    margin-top: 50px;
}

.header .search-result-header {     
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-login-container{
    margin-top: 100px;
}

.page-register-container{
    margin-top: 50px;
}

.register-form-upper {
    margin-top: 50px;
}

.register-form-mid {
    margin-top: 10px;
}

.register-label {
    font-family: @fontAvantGarde;
    font-size: 20px;
    color: white;
    line-height: 0.8;
    text-align: left;
    white-space: nowrap;
}

.change-password-text {
    font-family: @fontAvantGarde;
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}

.combodate {
    display: inline-flex;
}

.button-text {
     font-family: @fontAvantGarde;
     color: white;
     font-weight: bolder;
     letter-spacing: 1px;
}

.validation-error-red {
    font-size: 10px;
    color: red;
}

.validation-error-white {
    font-size: 10px;
    color: white;
}

button:focus {outline:0 !important;}
