﻿@using Shop.Resources
@model Shop.Models.LoginViewModel



@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form", @id = "loginForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


    <div class="page-login-container">
        <div class="row">
            <div class="col-xs-offset-13 col-xs-8 header">
                <span class="register-header">@ResourcesPolish.LoginHeader</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-upper">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Login</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @id = "loginVal" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "validation-error-white", @id = "loginValidation" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Password</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-error-white" })

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-offset-9 col-xs-10">
                        <input type="button" onclick="validateLogin()" class="btn btn-warning btn-block add-item-button-text" value="Zaloguj" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var loginExists;

        function validateLogin() {

            $('#loginValidation').empty();
            var attemptedLogin = $('#loginVal').val();
            checkIfLoginExists(attemptedLogin);

            if (loginExists) {
                $('#loginForm').submit();
            }

        }

        function returnLoginStatus(loginStatus) {

            loginExists = loginStatus;
            if (!loginExists) {
                $('#loginValidation').append('Nie istnieje użytkownik o podanym loginie');
            }     
        }


        function checkIfLoginExists(attemptedLogin) {

            $.ajax({
                method: 'GET',
                url: "/api/account/checkIfLoginExists",
                data: { login: attemptedLogin },
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function(result) {
                    var loginStatus = result;
                    returnLoginStatus(loginStatus);
                }
            });
        }

    </script>
}