﻿@using Shop.Resources
@model Shop.Models.RegisterViewModel



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id= "registerForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BirthDate)

    <div class="page-register-container">
        <div class="row">
            <div class="col-xs-offset-12 col-xs-18 header register-header">
                @ResourcesPolish.RegisterHeader
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-upper">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Name</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Surname</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Email</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "emailVal" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error-white", @id = "emailValidation" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Login</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @id = "loginVal" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "validation-error-white", @id = "loginValidation" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Password</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.ConfirmPassword</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Birthday</div>
                    <div class="col-xs-15">
                        <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date">
                        <div>
                            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "validation-error-white", @id = "birthdayValidation" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-offset-9 col-xs-10">
                        <input type="button" onclick="validateRegisterForm()" class="btn btn-warning btn-block add-item-button-text" value="Zarejestruj" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/combodate")
    @Scripts.Render("~/bundles/registerValidation")

}
