﻿@using Shop.Entities
@using Shop.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ResourcesPolish.Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="background-container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container min-width">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3 navbar navbar-button navbar-text-pos">
                       Strefa marek
                    </div>
                    <div class="col-xs-5 navbar navbar-button navbar-text-pos">
                        Świąteczne prezenty
                    </div>
                    <div class="col-xs-3 navbar navbar-button navbar-right-border navbar-text-pos">
                        Poradniki
                    </div>
                    <div class="col-xs-offset-4 col-xs-4 navbar navbar-button navbar-text-pos" onclick="location.href='@Url.Action("AddItem", "Item")'">
                        @ResourcesPolish.AddNewItemNavbar
                    </div>
                    <div class="col-xs-3 navbar navbar-button navbar-text-pos" onclick="location.href='@Url.Action("MyOffers","Item")'">
                        @ResourcesPolish.MyOffers
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="search-section">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-4 shop-logo" onclick="location.href='@Url.Action("Index", "Home")'">Sklep</div>
                <div class="col-xs-10 search-field">
                    @Html.Editor(" ", new {htmlAttributes = new {@class = "search-input", @id = "searchQuery", @placeholder = ResourcesPolish.Search_WhatAreYouLookingFor}})
                </div>
                <div class="col-xs-4 category-field">
                    @Html.DropDownList(" ",
                     new SelectList(new[]
                       {
                           new SelectListItem {Value = "1", Text = "Elektronika"},
                           new SelectListItem {Value = "2", Text = "Moda i uroda"},
                           new SelectListItem {Value = "3", Text = "Dom i zdrowie"},
                           new SelectListItem {Value = "4", Text = "Dziecko"},
                           new SelectListItem {Value = "5", Text = "Kultura i rozrywka"},
                           new SelectListItem {Value = "6", Text = "Elektronika"},
                           new SelectListItem {Value = "7", Text = "Sport i wypoczynek"},
                           new SelectListItem {Value = "8", Text = "Motoryzacja"},
                           new SelectListItem { Value = "9", Text = "Kolekcje i sztuka"},
                           new SelectListItem {Value = "10", Text = "Firma"},
                           new SelectListItem {Value = "11", Text = "Inne"},
                       }, "Value", "Text"), "wszystkie działy", new { @class = "category-input", @id = "category" })
                </div>
                <div class="col-xs-1 search-button" onclick="search()">
                    <div class="zoom-icon"><i class="fa fa-search fa-1x" aria-hidden="true"></i></div>               
                </div>
                <div class="col-xs-offset-1 col-xs-2">
                    <img class="bin" src="~/Content/Images/bin.png" id="chartIcon" onclick="goToCart()"/>
                </div>
                <div class="col-xs-4 bin-text" id="chart" onclick="goToCart()">              
                </div>
            </div>
        </div>
            <div class="container body-content">
                 @RenderBody()
            </div> 
        </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

<script>

    var amountOfItemsInChart;

    $(function() {
        amountOfItemsInChart = getAmountOfItemsInChart();

        var chartText = document.getElementById('chart');
        var chartIcon = document.getElementById('chartIcon');

        if (!amountOfItemsInChart) {
            chartText.innerHTML = "Koszyk jest pusty";
            chartIcon.style.cursor = "none";
        }
        else {
            chartText.innerHTML = amountOfItemsInChart + " przedmiot(y) w koszyku";
            chartText.style.cursor = "pointer";
            chartIcon.style.cursor = "pointer";
        }
    });

    function goToCart() {        
        if (amountOfItemsInChart) {
            window.location.href = '@Url.Action("ShowCart","Item")';
        }
    }

    function getAmountOfItemsInChart() {

        var amount;

        $.ajax({
            method: "GET",
            url: "/api/item/getAmountOfItemsInChart",
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (result) {
                amount = result;
            }
        });

        return amount;
    }

    function search() {

        var categoryId = $('#category').val();
        var query = $('#searchQuery').val();
        if (query) {
            window.location.href = '@Url.Action("SearchItem","Item")?query=' + query + '&categoryId=' + categoryId;
        }
    }

</script>

</body>
</html>
