﻿@using System.Security.Claims;
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="col-xs-3 navbar navbar-button navbar-text-pos" onclick="location.href='@Url.Action("MyAccount", "Home")'">
       @((User.Identity as ClaimsIdentity).Claims.FirstOrDefault(c => c.Type == "Login").Value)
    </div>

    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-3 navbar navbar-button navbar-right-border navbar-text-pos" onclick="javascript: document.getElementById('logoutForm').submit();">Wyloguj</div>
    }
}
else
{

    <div class="col-xs-3 navbar navbar-button navbar-text-pos" onclick="location.href='@Url.Action("Register", "Account")'">Rejestracja</div>
    <div class="col-xs-3 navbar navbar-button navbar-right-border navbar-text-pos" onclick="location.href='@Url.Action("Login", "Account")'">Zaloguj</div>
}
