﻿@using Shop.Resources
@model Shop.Models.ChangePasswordViewModel



@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="page-register-container">
        <div class="row">
            <div class="col-xs-offset-12 col-xs-18 header register-header">
                @ResourcesPolish.ChangePasswordHeader
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-upper">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.CurrentPassword</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.NewPassword</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.ConfirmPassword</div>
                    <div class="col-xs-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-offset-9 col-xs-10">
                        <input type="submit" class="btn btn-warning btn-block add-item-button-text" value="@ResourcesPolish.ChangePasswordHeader"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}