﻿@using Shop.Resources
@model Shop.Models.ChatViewModel


<div class="row">
    <div class="col-xs-offset-7 col-xs-23 header chat-header">        
        @ResourcesPolish.AskItemOwner
    </div>
</div>


<div class="row">
    <div class="col-xs-offset-8 col-xs-14 chat-container">

        <div class="partner-info-section">
            @Model.PartnerUser.Name @Model.PartnerUser.Surname
        </div>
        <div class="row view-messages-content">
            <div class="messages-area" id="msgsContent">
             
            </div>
        </div>

        <div class="type-message-area">
            <div class="row col-xs-30 new-message-content">
                <textarea class="chat-textarea" placeholder="@ResourcesPolish.TypeMessage" id="newMsgBody"></textarea>
            </div>
            <div class="row col-xs-30 buttons-area">
                <div class="send-btn-pos col-xs-6">
                    <input type="button" class="btn btn-block send-msg-button" value="Wyślij" onclick="sendMsg();"/>
                </div>
                <div class="back-btn-pos col-xs-offset-17 col-xs-7">
                    <input type="button" class="btn btn-block back-msg-button" value="Powrót" @*onclick="history.go(-1); return false;"*@ onclick="recMsg();"/>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jquery")



    <script type="text/javascript">


        function recMsg() {
            
            var msg = $('#newMsgBody').val();
            $('#newMsgBody').val('');
            if (msg) {

                var linesCount = msg.split(/\r\n|\r|\n/).length;
                msg = msg.replace(/\r?\n/g, '<br />');

                var div = document.createElement('div');
                div.innerHTML = msg;
                div.setAttribute('class', 'received-msg-body');
                $('#msgsContent').append(div);

                for (var i = 0; i <= linesCount; i++) {
                    $('#msgsContent').append("<br />");
                }


            }



        }

        function sendMsg() {

            var msg = $('#newMsgBody').val();
            $('#newMsgBody').val('');
            if (msg) {

                var linesCount = msg.split(/\r\n|\r|\n/).length;
                msg = msg.replace(/\r?\n/g, '<br />');

                var div = document.createElement('div');
                div.innerHTML = msg;
                div.setAttribute('class', 'my-msg-body');
                $('#msgsContent').append(div);

                for (var i = 0; i <= linesCount; i++) {
                    $('#msgsContent').append("<br />");
                }

              
            }
        }


    </script>
}