﻿

<div class="row">
    <div class="header" data-bind="with: mainPage" id="content">
        <div class="col-xs-offset-6 main-page-header" data-bind="text: pageInfo">
        </div>
    </div>
</div>




@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/mainPage")
}
