﻿@using Shop.Resources
@model Shop.Models.ManageAccountViewModel



@using (Html.BeginForm("MyAccount", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "manageAccountForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BirthDate)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Surname)
    @Html.HiddenFor(m => m.UserName)

    <div class="page-register-container">

        <div class="row">
            <div class="col-xs-offset-12 col-xs-18 header register-header">
                @ResourcesPolish.ManageAccountHeader
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-upper">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Name</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Name, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Surname</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Surname, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Email</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "emailVal" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error-white", @id = "emailValidation" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Login</div>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "validation-error-white" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Birthday</div>
                    <div class="col-xs-15">
                        <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date">
                        <div>
                            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "validation-error-white", @id = "birthdayValidation" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-9 control-label register-label">@ResourcesPolish.Password</div>
                    <div class="col-xs-10 change-password-text" onclick="location.href='@Url.Action("ChangePassword", "Manage")'">
                        Zmień hasło
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 register-form-mid">
                <div class="form-group">
                    <div class="col-xs-offset-9 col-xs-10">
                        <input type="button" onclick="validateMyAccountForm()" class="btn btn-warning btn-block add-item-button-text" value="@ResourcesPolish.Save"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/combodate")

    <script type="text/javascript">
        var birthDay = '@Model.BirthDate';
        var dateFormatted = birthDay.substring(0, 10);

        var pieces = dateFormatted.split('-');
        pieces.reverse();
        var reversedDate = pieces.join('-');
    </script>

@Scripts.Render("~/bundles/myAccountValidation")
}
