﻿@using Shop.Resources
@model Shop.Models.ItemFormViewModel



@using (Html.BeginForm("AddItem","Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


    <div class="page-register-container">
        
        <div class="row">
            <div class="col-xs-offset-11 col-xs-8 header add-item-header">
                @ResourcesPolish.AddItem_AddNewItem
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-10 add-item-section">
                <div class="section1">
                    <div class="add-item-section-header">&nbsp &nbsp @ResourcesPolish.AddItem_BasicData</div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-28 add-item-field-label">@ResourcesPolish.AddItem_Name</div>
                        <div class="col-xs-offset-2 col-xs-26">
                            @Html.EditorFor(model => model.ItemFormDto.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemFormDto.Name, "", new { @class = "validation-error-red" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-28 add-item-field-label">@ResourcesPolish.AddItem_Category</div>
                        <div class="col-xs-offset-2 col-xs-26">
                            @Html.DropDownListFor(model => model.ItemFormDto.CategoryId, Model.Categories, ResourcesPolish.AddItemValidation_CategoryChoice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ItemFormDto.CategoryId, "", new { @class = "validation-error-red" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-28 add-item-field-label">@ResourcesPolish.AddItem_Description</div>
                        <div class="col-xs-offset-2 col-xs-26">
                            @Html.EditorFor(model => model.ItemFormDto.Description, new { htmlAttributes = new { @class = "form-control add-item-description-textarea" } })
                            @Html.ValidationMessageFor(model => model.ItemFormDto.Description, "", new { @class = "validation-error-red" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-offset-10 col-xs-10 add-item-section">
               <div clas="section2">
                <div class="add-item-section-header">&nbsp &nbsp @ResourcesPolish.AddItem_Price</div>
                <div class="row">
                    <div class="col-xs-30 add-item-field-label">
                        <div class="col-xs-offset-2 col-xs-12 add-item-price">
                            @Html.EditorFor(model => model.ItemFormDto.Price, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.ItemFormDto.Price, "", new {@class = "validation-error-red"})
                        </div>
                        <div class="col-xs-6 add-item-price">
                            @Html.DropDownListFor(model => model.ItemFormDto.Currency, Model.Currencies, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-30 add-item-field-price">
                        <div class="col-xs-offset-1 col-xs-1">
                            @Html.CheckBoxFor(model => model.ItemFormDto.Negotiable)
                        </div>
                        <div class="col-xs-20 add-item-negotiable">
                            @ResourcesPolish.AddItem_Negotiable
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>


        <div class="row">
            <div class="col-xs-offset-10 col-xs-10 add-item-section">
                <div clas="section3">
                    <div class="add-item-section-header">&nbsp &nbsp @ResourcesPolish.AddItem_Photos</div>
                    <div class="row">
                        <div class="add-item-margin-photos">
                            <div id="imageContainer" class="clearfix">
                                <div class="col-xs-offset-2 col-xs-8 add-item-photo-holder dropzone" id="photo0"></div>
                                <div class="col-xs-offset-1 col-xs-8 add-item-photo-holder dropzone" id="photo1"></div>
                                <div class="col-xs-offset-1 col-xs-8 add-item-photo-holder dropzone" id="photo2"></div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ItemFormDto.PhotosList, "", new { @class = "photo-validation validation-error-red", @id = "photoListVal" })
                            <div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    @Html.Hidden("ItemFormDto.PhotosList[" + @i + "]")
                                }
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-10 col-xs-15 add-item-button-position">
                <div class="col-xs-offset-11 col-xs-10">
                    <input type="submit" class="btn btn-block add-item-button-text" value="Wystaw"/>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/dropzone")

    <script type="text/javascript">

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>



    <script type="text/javascript">

        var photoId;
        $('.add-item-photo-holder').click(function() {
            var photoContainerId = this.id;
            photoId = photoContainerId.slice(-1);
        });

        Dropzone.autoDiscover = false;
        var options = {
            url: "/Item/UploadPhotoToTempDirectory",
            dictDefaultMessage: "",
            maxFiles: 1,
            thumbnailWidth: "112",
            thumbnailHeight: "90",
            acceptedFiles: ".jpg, .png, .jpeg",
            init: function() {
                myDropzone = this;
                this.on("success",
                    function(data) {
                        var result = eval('(' + data.xhr.responseText + ')');
                        $("#ItemFormDto_PhotosList_" + photoId + "_").attr('value', result.success);
                        $("#photoValidation").text('');
                        $("#photoListVal").text('');
                    });
                this.on("error",
                    function() {
                        alert("Photo uploading error!");
                    });
            }
        }


        $("div#photo0").dropzone(options);
        $("div#photo1").dropzone(options);
        $("div#photo2").dropzone(options);
      
    </script>

}