﻿@using Shop.Resources
@using Shop.Entities
@model List<Shop.Models.ShowItemViewModel>


<div class="cart-container">
    <div class="row">
        <div class="col-xs-offset-11 col-xs-8 header add-item-header">
            @ResourcesPolish.MyOffers
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-26">
            <div class="col-xs-30">
                <div class="table-style">
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.AddItem_Name
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Price
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Status
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.End
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Action
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-offset-2 col-xs-26">
                <div class="col-xs-30">
                    <div class="info-style">
                        <div class="col-xs-6 bor cursor" onclick="location.href = '@Url.Action("ShowItemOffer", new {@itemId = item.Id})'">
                            <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="@item.Name">@(item.Name.Length > 20 ? item.Name.Substring(0, 19) : item.Name)</span>
                        </div>
                        <div class="col-xs-6 bor">
                            @item.Price @item.Currency
                        </div>
                        <div class="col-xs-6 bor cursor">
                            @item.Status.ToDescription()
                        </div>
                        <div class="col-xs-6 bor cursor">
                            <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="Zakończ aukcję">
                              <span class="warn" data-toggle="modal" data-target="#myModal">@ResourcesPolish.EndOffer</span>
                            </span>
                        </div>
                        <div class="col-xs-6 bor warn">
                            <span class="warn">@ResourcesPolish.ReportProblem</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content modal-font">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Czy na pewno chcesz zakończyć aukcję przedmiotu: @item.Name ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Operacja jest nieodwracalna. Akceptacja zgodnie z regulaminem oznacza, że transakcja z kupującym dobiegła pomyślnego zakończenia.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='@Url.Action("FinalizeAuction", new {@itemId = item.Id})'">@ResourcesPolish.Finalize</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@ResourcesPolish.Back</button>
                    </div>
                </div>
            </div>
        </div>




    }
</div>




@section Scripts{

    <script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
    </script>


}










