﻿@model IEnumerable<Shop.Models.ShowItemViewModel>
@using System.Configuration
@using X.PagedList
@using X.PagedList.Mvc
@using Shop.Entities
@using Shop.Resources


<div class="row">
    <div class="col-xs-offset-11 col-xs-8 header search-result-header">
        Znalezione oferty
    </div>
</div>



@foreach (var item in Model)
{
        <div class="col-xs-offset-5 col-xs-20 item-offer-section" onclick="location.href='@Url.Action("ShowItemOffer", new {@itemId = item.Id})'">
            <div class="col-xs-4 main-photo-section">
                <img src="@item.MainPhotoPath" class="search-item-photo"/>
            </div>
            <div class="col-xs-25">
                <div class="col-xs-30 search-item-name">@item.Name</div>
                <div class="col-xs-30 search-item-description">
                    @if (item.Description?.Length > 150)
                    {
                        @item.Description.Substring(0, 150)
                    }
                    else
                    {
                        @item.Description
                    }
                </div>                            
              <div class="col-xs-10 search-item-price">@item.Price @item.Currency</div>                           
           </div>        
       </div>
}


<div class="row">
    <div class="col-xs-offset-5 col-xs-25 paging-style">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchItem", new { query = Request.Params["query"], pageIndex = page }),
                new PagedListRenderOptions
                {
                    MaximumPageNumbersToDisplay = Convert.ToInt32(ConfigurationManager.AppSettings["maximumPageNumbersToDisplayOnPager"]),
                    LinkToPreviousPageFormat = ResourcesPolish.PreviousPage,
                    LinkToNextPageFormat = ResourcesPolish.NextPage,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    Display = PagedListDisplayMode.IfNeeded
                })
    </div>
</div>





