﻿@using Shop.Resources
@model List<Shop.Models.ShowItemViewModel>


<div class="cart-container">
    <div class="row">
        <div class="col-xs-offset-11 col-xs-8 header add-item-header">
            @ResourcesPolish.My_Bin
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-26">
            <div class="col-xs-30">
                <div class="table-style">
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.AddItem_Name
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Price
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Seller
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Contact
                    </div>
                    <div class="col-xs-6 bor">
                        @ResourcesPolish.Action
                    </div>
                </div>
            </div>
        </div>
    </div>

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-26">
                        <div class="col-xs-30">
                          <div class="info-style">
                              <div class="col-xs-6 bor cursor" onclick="location.href = '@Url.Action("ShowItemOffer", new { @itemId = item.Id})'">                              
                                  <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="@item.Name">@(item.Name.Length > 20 ? item.Name.Substring(0, 19) : item.Name)</span>
                              </div>
                            <div class="col-xs-6 bor">
                                @item.Price @item.Currency
                            </div>
                            <div class="col-xs-6 bor cursor">
                                <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="@item.Login">@(item.Login.Length > 20 ? item.Login.Substring(0, 19) : item.Login)</span>
                            </div>
                            <div class="col-xs-6 bor cursor">
                                  <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="@item.Email">@(item.Email.Length > 20 ? item.Email.Substring(0, 19) : item.Email)</span>
                            </div>
                              <div class="col-xs-6 bor warn">
                                 <span class="warn">@ResourcesPolish.ReportProblem</span>                       
                              </div>
                        </div>
                      </div>
                   </div>
                </div>
            }


    </div>


@section Scripts{

<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>


}

