﻿@model Shop.Models.ShowItemViewModel
@using Microsoft.AspNet.Identity
@using Shop.Entities
@using Shop.Resources


<div class="col-xs-30 offer-container">
    <div class="col-xs-offset-1 item-name-section">@Model.Name</div>

    <div class="row upper-panel">
        <div class="col-xs-offset-1 col-xs-10 photos-container">      
            <div class="demo">
                <ul id="lightSlider">
                    @for(int i = 0; i < Model.Photos.Count ; i++)
                    {
                        <li data-thumb="@Model.PhotoPath(@Model.Photos[i].Id)" class="li-lightslider">
                            <img src="@Model.PhotoPath(@Model.Photos[i].Id)" class="lightslider-photo" />
                        </li>
                    }
                </ul>
            </div>           
        </div>

        <div class="col-xs-offset-1 col-xs-18 info-container">
            <div class="row">
                <div class="col-xs-15">
                    <div class="row">
                        <div class="col-xs-6 price-text">@ResourcesPolish.Price</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-20 price">@Model.Price @Model.Currency</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-14 button-pos">
                            @if (Model.Negotiable)
                            {
                                <input type="button" class="btn btn-warning btn-block negotiable-button" value="Negocjuj">
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-14 button-buy-pos">
                            @if (Model.Status == ItemStatus.Active)
                            {
                                <input type="button" class="btn btn-warning btn-block negotiable-button" data-toggle="modal" data-target="#myModal" value="Kupuję">
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xs-15">
                    <div class="seller-info">
                        <div class="row">
                            <div class="col-xs-6 seller-text">@ResourcesPolish.Seller</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-30 seller-login">@Model.Login</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-17 button-pos">
                                <input type="button" class="btn btn-warning btn-block negotiable-button" value="Zadaj pytanie" onclick="location.href='@Url.Action("ShowChat","Chat", new { @partnerUserId = @Model.OwnerId})'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row down-panel">
        <div class="col-xs-offset-1 col-xs-10">
            <ul class="w3-navbar w3-colors">
                <li><a href="javascript:void(0)" onclick="showTab('description')">Opis</a></li>
                <li><a href="javascript:void(0)" onclick="showTab('sellerInfo')" style="padding-right: 22px">Informacje o sprzedającym</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-20 tab description" id="description">
            @Model.Description
        </div>

        <div class="col-xs-offset-1 col-xs-20 tab owner-info" id="sellerInfo" style="display: none">
            <div class="row">
                <div class="col-xs-7 seller-info-label">@ResourcesPolish.Seller:</div>
                <span class="seller-info-text">@Model.Login</span>                 
            </div>
            <div class="row">
                <div class="col-xs-7 seller-info-label">Kontakt:</div>
                <span class="seller-info-text">@Model.Email</span>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-font">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Czy na pewno chcesz kupić przedmiot: @Model.Name ?</h4>
            </div>
            <div class="modal-body">
                <p>Operacja jest nieodwracalna</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.href='@Url.Action("BuyItem", new {@itemId = Model.Id})'">@ResourcesPolish.I_Buy</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@ResourcesPolish.Back</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script src="~/Scripts/lightslider.js"></script>
  
    <script>     
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 9
        });

        function showTab(tabName) {
            var i;
            var x = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }

    </script>
}
